body {
    background-color: #eee;
    margin: 0;
}
a {
    text-decoration: none !important;
    cursor: pointer;
}
.container {
    padding-left: 150px;
    padding-right: 150px;
}

section#contact {
    height: 250px;
    background-color: #6098CB;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.contact .title {
    margin-top: 15px;
}

.photo-container {
    background-image: url('./photo.png');
    background-size: cover;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 5px;
}

.contact-container p {
    color: #f5f5f5;
}
.contact {
    margin-top: 50px;
}

p.name {
    font-size: 28px;
    font-weight: bold;
}
p.title {
    font-size: 22px;
    font-style: italic;
}

p.phone, p.address {
    font-size: 12px;
    color: #f0f0f0;
}
p.email {
    margin-top: 25px !important;
}
.contact p {
    margin: 0;
}
.contact p span {
    margin-bottom: 5px;
}
section#body {
    color: #757575;
}

.cv-title {
    color: #5A7BA2;
}
.right-side .cv-title {
    margin-top: 45px;
}
.social-accounts p {
    margin-bottom: 0;
}
.body-item {
    margin-top: 25px;
}
.skills-item .mdl-cell--8-col {
    margin-top: 7px;
}
.skills-item__progress {
    width: 100%;
}
.edu-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.custom-card {
    min-height: 70px;
    min-width: 0;
    width: 100%;
    margin-bottom: 16px;
    padding: 16px;
}

.edu-item p {
    margin: 0;
}

.edu-years p {
    color: #6098CB;
}
.edu-description {
    margin-left: 40px;
}
.edu-title {
    font-size: 16px;
}
.edu-subtitle {
    color: #afafaf; 
}

.project-title {
    margin-bottom: 0;
    font-size: 17px;
}
.project-title a {
    font-style: italic;
    opacity: 0.7;
    font-size: 14px;
}
.project-subtitle {
    color: #afafaf;
}